@keyframes bounce {
    0%, 100% {
      transform: translate(10px, -10px);
      opacity: 0.5;
    }
    /* 25% {
      transform: translate(150px, -50px);
      opacity: 0.1;
    } */
    50% {
      transform: translate(5px, 10px);
      opacity: 0.2;
    }
    /* 75% {
      transform: translate(-100px, 50px);
      opacity: 0.8;
    } */
  }

  @keyframes bouncebg {
    0%, 100% {
      transform: translate(-20px, 10px);

    }
    50% {
      transform: translate(15px, -10px);
    }
  }

  @keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
}

.image-pulse {
  animation: pulse 10s infinite ease-in-out;
}

  @keyframes bounce2 {
    0%, 100% {
      transform: translate(0px, 0px);
      opacity: 0.3;
    }
    /* 25% {
      transform: translate(-150px, -200px);
      opacity: 0.7;
    } */

    50% {
      transform: translate(-7px, 10px);
      opacity: 0.7;
    }
    /* 75% {
      transform: translate(100px, -50px);
      opacity: 0.7;
    } */
  }


  .image {
    /* opacity: 0.7; */
    position: absolute;
    animation: bounce 20s infinite ease-in-out;
  }

  .drift {
    filter: drop-shadow(5px 5px 3px rgb(236, 236, 236));
  }

  .imagebg {
    position: absolute;
    animation: bouncebg 20s infinite ease-in-out;
    filter: drop-shadow(5px 5px 3px rgb(236, 236, 236));
    user-select: none;
    -webkit-user-drag: none;
    transform: scale(1); /* Initial scale */
    transition: transform 0.3s ease;
  }

  .imagebg:hover {
    transform: scale(1.02) !important; /* Scale up by 20% on hover */
  }

  .image2 {
    width: 15px; /* Adjust sizeac as needed */
    height: auto;
    /* opacity: 0.7; */
    position: absolute;
    animation: bounce2 30s infinite ease-in-out;
  }



.star-group1 {
    animation: bounce 10s infinite alternate;
  }

  .star-group2 {
    animation: bounce2 12s infinite alternate;
  }

  @keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .rotating-image {
    animation: rotate360 20s linear infinite;
  }

  @keyframes rotate3602 {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  .rotating-image2 {
    animation: rotate3602 60s linear infinite;
  }
