@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kode+Mono:wght@400..700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

textarea::placeholder {
  color: rgb(232, 232, 232);          /* White placeholder text */
  font-size: 12px;       /* Placeholder font size */
  font-family: 'Kode Mono';
}

:root {
  --dark-color: #191919; /* Define the color variable */
  --font-fam: 'Kode Mono';
}

html, body {
  font-family: 'Kode Mono' !important;
  font-size: 12px;
  overflow: hidden;  /* Prevents scrolling */
  /* cursor: url('/public/cursor.png'), auto; */
  height: 100%;      /* Sets the height to fill the browser window */
}

button:hover {
  background-color: rgb(52, 52, 52) !important; /* Background color on hover */
}

.loader-container {
  display: flex;
  flex-direction: column; /* Aligns children (loader and text) vertically */
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically */
  height: 400; /* Full viewport height */
  text-align: center; /* Ensures text is centered */
  margin-top: 50% !important;
}

/* Styles the entire scrollbar */
::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
  border-radius: 50px;
}

/* Styles the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgb(85, 85, 85); /* color of the draggable element */
  border-radius: 50px; /* roundness of the draggable part */
  border: 3px solid rgb(19, 19, 19); /* creates a border inside the scrollbar */
}

/* Styles the background of the scrollbar (part where the thumb isn't) */
::-webkit-scrollbar-track {
  border-radius: 50px;
  background-color: rgb(21, 21, 21); /* color of the track */
}
