@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kode+Mono:wght@400..700&display=swap');

:root {
  --dark-color: #c8c8c8; /* Define the color variable */
  --border: 1px solid rgb(36, 36, 36);
  --font-fam: 'Kode Mono';
  --font-color: rgb(58, 58, 58);
  --app-background: rgb(239, 239, 239);
  /* linear-gradient(to bottom, #222, #111, #222, #222, #333, #555); */
  --title-url: '/title.png';
  --font-size: 14px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

textarea::placeholder {
  color: var(--font-color);          /* White placeholder text */
  font-size: var(--font-size);       /* Placeholder font size */
  font-family: var(--font-fam);
}

html, body {
  font-family: var(--font-fam) !important;
  font-size: var(--font-size);
  overflow: hidden;  /* Prevents scrolling */
  /* cursor: url('/public/cursor.png'), auto; */
  height: 100%;      /* Sets the height to fill the browser window */
}


.loader-container {
  display: flex;
  flex-direction: column; /* Aligns children (loader and text) vertically */
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically */
  height: 400; /* Full viewport height */
  text-align: center; /* Ensures text is centered */
  margin-top: 50% !important;
}

.loader-container2 {
  display: flex;
  color: var(--font-color);
  flex-direction: column; /* Aligns children (loader and text) vertically */
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically */
  height: 400; /* Full viewport height */
  text-align: center; /* Ensures text is centered */
  margin-top: 50px;
}

/* Styles the entire scrollbar */
::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
  border-radius: 50px;
}

/* Styles the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgb(85, 85, 85); /* color of the draggable element */
  border-radius: 50px; /* roundness of the draggable part */
  border: 3px solid rgb(19, 19, 19); /* creates a border inside the scrollbar */
}

/* Styles the background of the scrollbar (part where the thumb isn't) */
::-webkit-scrollbar-track {
  border-radius: 50px;
  background-color: rgb(21, 21, 21); /* color of the track */
}
