@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cutive+Mono&family=Fredericka+the+Great&family=Jacquarda+Bastarda+9&family=Kode+Mono:wght@400..700&family=Syne+Mono&family=VT323&display=swap');

:root {
  --dark-color: #2f2f2f; /* Define the color variable */
  --border: 0.5px dashed rgb(236, 236, 236);
  --font-fam: 'Syne Mono';
  --font-color: rgb(225, 225, 225);
  --title-color: rgb(46, 46, 46);
  --app-background: rgb(33, 33, 33);
  --title-url: '/title.png';
  --font-size: 14px !important;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

textarea::placeholder {
  color: var(--font-color);          /* White placeholder text */
  font-size: var(--font-size);       /* Placeholder font size */
  font-family: var(--font-fam);
}

html, body {
  font-family: var(--font-fam) !important;
  font-size: var(--font-size);
  overflow: hidden;  /* Prevents scrolling */
  /* cursor: url('/public/cursor.png'), auto; */
  height: 100%;      /* Sets the height to fill the browser window */
}


.loader-container {
  display: flex;
  color: var(--font-color);
  flex-direction: column; /* Aligns children (loader and text) vertically */
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically */
  height: 400; /* Full viewport height */
  text-align: center; /* Ensures text is centered */
  margin-top: 40% !important;
}

.loader-container2 {
  display: flex;
  color: var(--font-color);
  flex-direction: column; /* Aligns children (loader and text) vertically */
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically */
  height: 400; /* Full viewport height */
  text-align: center; /* Ensures text is centered */
  margin-top: 30px;
}

/* Styles the entire scrollbar */
::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
  border-radius: 50px;
}

/* Styles the draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgb(85, 85, 85); /* color of the draggable element */
  border-radius: 50px; /* roundness of the draggable part */
  border: 3px solid rgb(19, 19, 19); /* creates a border inside the scrollbar */
}

/* Styles the background of the scrollbar (part where the thumb isn't) */
::-webkit-scrollbar-track {
  border-radius: 50px;
  background-color: rgb(21, 21, 21); /* color of the track */
}

.grain-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: none; /* Tile the background image across the entire element */
  opacity: 0.1; /* Adjust opacity to your liking */
  z-index: 10000; /* Ensure it's above the content but below modal dialogs if any */
  pointer-events: none; /* Makes the overlay click-through */
}

.box {
  box-shadow: 2px 2px 5px rgba(89, 89, 89, 0.5);
}
